<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    When your day sucked and all you wanna do is get into sweatpants and cook
    something that reminds you of your childhood (trust—we've all been there!),
    these comforting foods have got your back. You'll find everything here:
    classics like spaghetti and meatballs and French onion soup, new phenomenons
    like the TikTok sensation Baked Feta Pasta, and don't forget the chili. The
    best comfort foods usually follow the low-and-slow cooking rule, but if
    you're short on time and have an Instant Pot, you're totally in luck. Our
    recipes like Instant Pot Pot Roast are a weeknight savior. We're all about
    expanding your skills here at Delish, but this time we've put together a
    list that can get you that comfy cozy feeling in half the time.
  </p>
  <p>
    All you need to do is pour yourself a glass of wine, take a scroll through
    these recipes and be transported to a dreamy, relaxed state of chill... and
    once you dive into the world of comfort food, it's time to focus your
    attention on dessert. (We all know no meal is complete without a little
    sweet treat.) We have some dessert recipes that will bring your meal to
    another level and nix the need for that late-night ice-cream run. From soups
    to casseroles to all things cheesy, the recipes featured here are guaranteed
    to soothe your soul... and fill your stomach. If you need any more inspo,
    check out some quick dinner ideas for busy weeknights.
  </p>
</ion-content>
